.mainNav {
    background-color: blue;
}
.btn-home{
    margin-top: 8%;
}
.btn{
    border-radius: .1rem;
    min-width: 150px;
}
.margin-top{
    margin-top: 10%;
}
.margin-top-small{
    margin-top: 5%;
}
.margin-bottom-small{
    margin-bottom: 3%;
}
.arguments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-offer{
    margin: 4px;
    border: 2px solid #dee2e6;
    justify-content: center;
    margin-bottom: 20px
}
@media (min-width:767px){
    .arguments{
        flex-direction: row;
    }
}
.arg{
    text-align: center;
    margin-bottom: 0;
}
.size{
    display: flex;
    flex-direction: column;
}
.size-row{
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    margin-top: 10%;
}
.newsletter-email{
    margin-top: 5%;
    margin-bottom: 3%;
}
.text-row{
    margin-left: 10%;
}
.offre-container{
    margin-bottom: 40px;
}
.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
    background-color: #444;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
#carre-small {
    height: 40px;
    width: 40px;
    background: rgba(0,0,0,0.1);
    margin-right: 40px;
}
#carre-medium {
    height: 60px;
    width: 60px;
    background: rgba(0,0,0,0.1);
    margin-right: 20px;
}
#carre-large {
    height: 80px;
    width: 80px;
    background: rgba(0,0,0,0.1);
}
.image-editor {
    text-align: center;
    display: flex;
    flex-direction: column
 }
 
 .cropit-preview {
   background-color: #f8f8f8;
   background-size: cover;
   border: 5px solid #ccc;
   border-radius: 3px;
   margin-top: 7px;
   width: 250px;
   height: 250px;
    display: inline-block;
 }
 
 .cropit-preview-image-container {
   cursor: move;
 }
 
 .cropit-image-zoom-input {
     width: 200px
 }
 
 .cropit-preview-background {
   opacity: .2;
   cursor: auto;
 }
 
 .image-size-label {
   margin-top: 10px;
 }
 
 input, .export {
   /* Use relative position to prevent from being covered by image background */
   position: relative;
   z-index: 10;
   display: block;
 }
 
 button {
   margin-top: 10px;
 }